.main-window {
    height: 100vh;
    width: 100%;
    align-content: center;
    text-align: center;
    justify-items: center;
    background-color: #e0f2f7;
    color: #333333;

}

.outcome {
    font-size: 2vw;
    margin-top: 1vw;
    height: 20vw;
    width: 70%;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2vw;
    align-self: center;

}

.outcome-computer,
.outcome-player {
    height: 10vw;
    width: 10vw;
    /* background-color: red; */
    border-radius: 50%;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    font-size: 5vw;
}

.outcome-computer {
    /* background-color: #333333; */
    transform: scale(-1, 1);
}

.choices {
    height: 10vw;
    width: 70%;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vw;
}

.cumputerChoice,
.playerChoice {

    height: 100%;
    width: 18vw;
    overflow: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.playerChoice {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3vw;
    margin-top: 1vw;
    font-family: "GilroyRegular";
}

button {
    font-size: 2vw;
    margin-top: 1vw;
}

.cumputerChoice {
    display: flex;
    margin-bottom: auto;
}

.robot {
    width: 50px;
    height: auto;
    margin-top: 5px;
}

.celebrate {
    animation: jump 0.5s ease-in-out infinite alternate;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.robotText {
    width: 9vw;
    /* border: 1px solid #333333; */
    background-color: black;
    /* color: #fff; */
    text-align: center;
    border-radius: 2vw 2vw 2vw 0;
    padding: 5px 0;
    position: absolute;
    right: 61%;
    font-size: 1.3vw;
    margin-top: -5%;
    /* z-index: 1; */
}

.choices-icons {
    cursor: pointer;
    font-size: 3vw;
    margin: 2%;
}